body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(246, 102, 12);
    margin: 0rem;
    overflow: hidden;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1px 50px;
    box-shadow: 0 2px 25px rgba(37, 20, 21, 0.6);
    z-index: 9;
    background-color: rgb(254, 236, 36);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(20, 19, 19);
    transition: 0.4s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(13, 15, 15);
    position: absolute;
    bottom: -2px;
    left: 30px;
}

#boots {
    display: flex;
    gap: 2vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    user-select: none;
    transform: translate(0%, -50%);
}

#boots .image {
    width: 25vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: 100% 50%;
}