body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(27, 248, 67);
    margin: 0rem;
    overflow: hidden;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1px 50px;
    box-shadow: 0 2px 25px rgba(37, 20, 21, 0.6);
    z-index: 90;
    background-color: rgb(254, 236, 36);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(20, 19, 19);
    transition: 0.4s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(13, 15, 15);
    position: absolute;
    bottom: -2px;
    left: 30px;
}

#shoes {
    display: flex;
    gap: 2vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    user-select: none;
    transform: translate(0%, -50%);
}

#shoes .image {
    width: 25vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: 100% 50%;
}

.marquee {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}

.marquee div {
    color: antiquewhite;
    font-size: 100px;
    background: black;
    font-weight: 800;
    white-space: nowrap;
    padding: 0 45px;
    letter-spacing: 1px;
    animation: animate 20s linear infinite;
    animation-delay: -20s;
}

.marquee h2:nth-child(2) {
    animation: animate2 20s linear infinite;
    animation-delay: -10s;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

.marquee {
    transform: rotate(270deg) translateY(-200px) translateX(200px);
}